<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: rgba(0,0,0,0.7);">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h5 class="modal-title">{{user.customer_id?user.full_name:'Crear Usuario'}}</h5>
          <button type="button" class="close" data-dismiss="modal" style="border: none;background-color: transparent;" (click)="close()">
            <svg style="height: 20px;width:25px;fill:#000000">
              <use href="/assets/close.svg#close"/>
            </svg>
          </button>
        </div>
        <div class="modal-body">
          <form class="login__form" #form="ngForm">
            <div class="mb-3">
                <label class="form-label" for="full_name">Nombre</label>
                <input type="text" placeholder="Nombre" class="form-control" name="full_name" required
                [(ngModel)]="user.full_name"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="phone">Telefono</label>
                <input type="text" placeholder="Telefono" class="form-control" name="phone" [(ngModel)]="user.phone" required/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input type="email" placeholder="doe@doe.com" class="form-control"  name="email" [(ngModel)]="user.email" required/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="address">Dirección</label>
                <input type="text" placeholder="Street Doe #00 00" class="form-control"  name="address" [(ngModel)]="user.address" required/>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" [class]="!form.valid?'btn btn-disabled':'btn btn-primary'" [disabled]="!form.valid" (click)="save()">Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
