<div class="login__container">
    <div class="login__panel">
        <div class="form__container">
            <h1 class="login__header">Bienvenido</h1>
            <form class="login__form" #form="ngForm" (ngSubmit)="Login(form)">
                <div class="mb-3">
                    <label class="form-label" for="Email">Email</label>
                    <input type="text" placeholder="Email" class="form-control" name="email" [(ngModel)]="login.email" required/>
                </div>
                <div class="mb-3">
                    <label class="form-label"  for="password">Contraseña</label>
                    <input type="password" placeholder="Contraseña" class="form-control" name="pwd" [(ngModel)]="login.pwd" required/>
                </div>
                @if (errorSession) {
                    <div class="text-danger mt-1 mb-1">
                        Email o password incorrecto
                    </div>
                }
                <button class="mb-3 btn btn-secondary"  type="submit" [disabled]="!form.valid">
                    Iniciar sesión
                </button>
                <div class="mb-3">
                    Al continuar usted acepta los <a class="link_login">Terms of use</a> y <a class="link_login">Privacy policy</a>
                </div>
            </form>
        </div>
        <div class="new--users-header mb-2">
            <hr style="flex:1;"/><span style="flex: 1;text-align: center;">Usuarios nuevos</span><hr style="flex: 1;"/>
        </div>
        <a class="btn btn-light" routerLink="/sign-up">
            Crear una Cuenta
        </a>
    </div>
</div>

