<div class="container-fluid mt-2 mb-2">
    <div class="d-flex justify-content-between">
        <h2>
            Facturas de venta
        </h2>
        <button class="btn btn-primary" (click)="Open()">
            Crear nueva Factura
        </button>
    </div>
</div>
<div class="container-fluid flex-fill">
    <table class="table  table-hover p-0">
        <thead>
            <tr class="table-dark">
                <td>Número de factura</td>
                <td>Cliente</td>
                <td>Total</td>
                <td>Fecha de creación</td>
                <td>Opciones</td>
            </tr>
        </thead>
        <tbody>
            @for (item of invoices; track $index) {
            <tr class="table-primary">
                <td>{{item.factura_id}}</td>
                <td>{{item.customer_id.full_name}}</td>
                <td>{{item.total}}</td>
                <td>{{item.created_at}}</td>
                <td>
                    <button  (click)="editInvoice(item)" class="btn btn-primary" style="margin-right: 10px;">
                        <img src="/assets/pencil.svg#pencil" style="height:25px;width:25px"/>
                    </button>
                    <button  (click)="deleteInvoice(item.factura_id)" class="btn btn-danger">
                        <img style="height:25px;width:25px" src="/assets/trash.svg#trash"/>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<nav aria-label="store-pagination">
    <ul class="pagination">
      <li class="page-item"><a class="page-link"><<</a></li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item"><a class="page-link">>></a></li>
    </ul>
</nav>
