<div class="login__container">
    <div class="login__panel">
        <h1 class="login__header">Configuración de cuenta</h1>
        <div class="login__form">
            <div class="mb-3">
                <label class="form-label" for="name">Nombre</label>
                <input type="text" placeholder="Nombre" class="form-control" value="Diego"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="lastname">Apellidos</label>
                <input type="text" placeholder="Apellido" class="form-control" value="Cano"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Contraseña Actual</label>
                <input type="password" placeholder="Contraseña" class="form-control" value="*************" disabled="true"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Nueva Contraseña</label>
                <input type="password" placeholder="Contraseña" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Repita la nueva Contraseña</label>
                <input type="password" placeholder="Contraseña" class="form-control" />
            </div>
            <button class="mb-3 btn btn-secondary" type="button">
                Aplicar Cambios
            </button>
        </div>
    </div>
</div>
